body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 2em;
  padding-top: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: 1em;
}

a {
  font-weight: bold;
  color: #44546A;
}

a:hover {
  color: #44546A;
}

code {
  color: #fff;
  background-color: #44546A;
}

hr {
  margin-top: 2em;
}

/* title */
/*.title {
  color: #000;
  font-size: 2em;
  padding-top: 1.2em;
  padding-bottom: 1em;
}*/

.navbar-title {
  min-width: 8em;
  min-height: 3em;
  background-image: url("../img/calligraphy/randj.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-title a {
  padding: .3em;
  display: block;
}


.navbar-title a > p{
  visibility: hidden;
}

.navbar-inverse {
    color: #fff;
}

/* links */
.navbar-inverse {
  /*background-color: #f3cbd9;
  border-color: #f3cbd9;*/
  background-color: #44546A;
  border-color: #44546A;
  font-size: em;
  font-weight: bold;
  padding: .8em 2em;
}

.navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-inverse .navbar-nav > li {
    min-width: 5em;
    min-height: 3em;
    margin: .4em .4em;
}

.navbar-inverse .navbar-nav > li > a {
    /*visibility: hidden;*/
    padding: .5em;
    display: block;
}

.navbar-inverse .navbar-nav > li > a > p {
    visibility: hidden;
    font-size: 0em
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #44546A;
}

.navbar-inverse .navbar-nav > li > a:disabled {
    color: #44546A;
}

.navbar-toggle {
  margin-top: .8em;
  margin-bottom: .8em;
}

/* jumbotron */
.jumbotron {
  /*vertical-align: top;*/
  padding-top: 4em;
  padding-bottom: 0em;
  padding-left: 0em !important;
  padding-right: 0em !important;
  margin-bottom: 0;
  background-color: #fff;
}

.container {
  width: 100%;
  padding: 0;
}

.container p {
  padding: 0 10%;
}

.tinywords {
  font-size: .66em;
}

.navy-bars {
  margin-top: 0;
  padding-top: .9em;
  padding-bottom: .7em;
  background-color: #6e84a2;
  font-size: 1.2em;
  color: #fff;
}

#rsvp {
  color: #999;
}

/* nav */
#when-where-nav {
  background-image: url("../img/calligraphy/whenwhere.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#faqs-nav {
  background-image: url("../img/calligraphy/faqs.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#gifting-nav {
  opacity: 0.3;
  background-image: url("../img/calligraphy/gifting.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#rsvp-nav {
  opacity: 0.3;
  background-image: url("../img/calligraphy/rsvp.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  /*margin-bottom: 0em;*/
}

/* gifting */
/*#gifting-message {
  padding-top: 4em;
  padding-bottom: 0em;
  padding-left: 12em;
  padding-right: 12em;
}

#gifting-message p {
  font-size: 1.5em;
  font-weight: bold;
}*/

/* when & where */
#wedding-date {
  text-align: center;
  /*color: #fff;*/
  margin-top: 6em;
  margin-bottom: 2em;
  /*padding-bottom: 1em;*/
  background-size: cover;
}

#wedding-date h1 {
  margin: 0 auto;
  /*color: #fff;*/
}
